#clients{
  user-select: none;  
  padding-bottom: 50px;
  padding-top: 60px;
  /*margin-top: 150px;*/
}

#gap-clients{
  height: 100px;
}
.slick-prev:before, .slick-next:before{
  color: white;
  font-size: 30px;
}

.slick-dots li button:before {
  color: white;
  transform: scale(1.3);
}


.carousel-wrap{
	margin-top: 40px;
	padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}



.client-slide{
  justify-content: center;
  display: flex;
}

@media screen and (min-width: 1025px){
	.client-picture{
	  width: 250px;
	  height: 250px;
	  padding: 25px;
	}
	.carousel-clients{
  	padding-left: 30px;
  	padding-right: 30px;
	}	
}

@media screen and (max-width: 1024px)  and (min-width: 769px){
	.client-picture{
	  width: 230px;
	  height: 230px;
	  padding: 15px;
	}
	.carousel-clients{
  	padding-left: 25px;
  	padding-right: 25px;
	}	
}

@media screen and (max-width: 768px) and (min-width: 481px){
  .client-picture{
	  width: 200px;
	  height: 200px;
	  padding: 13px;
	}
	.carousel-clients{
  	padding-left: 20px;
  	padding-right: 20px;
	}
}

@media screen and (max-width: 480px) {
  .client-picture{
	  width: 200px;
	  height: 200px;
	  padding: 10px;
	}
	.carousel-clients{
  	padding-left: 10px;
  	padding-right: 10px;
	}
	.slick-prev:before, .slick-next:before{
  	font-size: 20px;
	}
}