/*orange color - rgb(232,101,12);*/
/* gray - rgb(212, 223, 225); */
header{
  height: 100%;
  position: relative;
}

.menu-style{
  background-color: transparent;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 20px;
  border:0;
  border-radius: 0;
}

.menu-style2{
  background-image: url(../img/pattern6.png);
  background-color:#050505;
  z-index: 99;
}
.artist-name1{
  font-family: 'Primer-Bold';
  color: white;
  font-weight: bold;
  /*font-size: 28px;*/
  display: flex;
  align-items: center;
  color: rgb(232,101,12);
}
/*.menu-font-style1{
  font-family: 'Play', sans-serif;
  font-weight: bold;
}*/

.menu-container{
  display: flex;
  justify-content: space-between;
}

.lista-social-midias li{
  display: inline;
  padding: 18px;
  font-size: 22px;
}

/*mudando as cores do logo das midias socias*/
.fa-facebook, .fa-instagram, .fa-behance{
  text-decoration: none;
  /*color: rgb(232,101,12);*/
}

.logo{
  width: 45px;
  height: 45px;
}


@media screen and (min-width: 1024px){
  body{
    font-size: 15px; /*14px default */
  }
  .navbar-brand{
    font-size: 35px;/*18px default */
  }
  
  .menu-font-style1{
    color: white;
    /* font-size: 19px; */
  }

  

  /*change the style when the mouse is over*/
  .artist-name1:hover, .menu-font-style1:hover {
    text-decoration: none;
    color: rgb(232,101,12);
  }

  /*change the style when the mouse is over*/
  .artist-name2:hover, .menu-font-style2:hover{
    /* color: black; */
    text-decoration: none;
    color: rgb(232,101,12);
  }


  

}

@media screen and (max-width: 1024px) and (min-width: 768px){ /*768 iPda width*/
  body{
    font-size: 14px; /*14px default */
  }
  .navbar-brand{
    font-size: 30px;/*18px default */
  }

  
  .menu-font-style1{
    color: white;
    /* font-size: 19px; */
  }

  

  /*change the style when the mouse is over*/
  .artist-name1:hover, .menu-font-style1:hover {
    text-decoration: none;
    color: rgb(232,101,12);
  }

  /*change the style when the mouse is over*/
  .artist-name2:hover, .menu-font-style2:hover{
    /* color: black; */
    text-decoration: none;
    color: rgb(232,101,12);
  }

  
}

@media screen and (max-width: 767px) and (min-width: 551px){ /*768 iPda width*/
  body{
    font-size: 13px; /*14px default */
  }
  .navbar-brand{
    font-size: 25px;/*18px default */
  }

  
  .menu-font-style1{
    color: white;
    /* font-size: 19px; */
  }

  
  .lista-social-midias{

    font-size: 19px;
  }

  /*change the style when the mouse is over*/
  .artist-name1:hover, .menu-font-style1:hover {
    text-decoration: none;
    color: rgb(232,101,12);
  }

  /*change the style when the mouse is over*/
  .artist-name2:hover, .menu-font-style2:hover{
    /* color: black; */
    text-decoration: none;
    color: rgb(232,101,12);
  }

  .navbar-header button{
    display: none;
  }
  

}


@media screen and (max-width: 550px) and (min-width: 376px){
  body{
    font-size: 12px;
  }
  .navbar-brand{
    font-size: 20px;
  }
  .navbar-toggle{
    transform: scale(0.7);
  }
  .menu-style{
    padding: 0;
  }

 
  .menu-font-style1{
    color: white;
    /* font-size: 19px; */
  }
  .navbar-header button{
    display: none;
  }
  
 
}


@media screen and (max-width: 375px) /*and (min-width: 0px)*/{ /* 375px width - size of iphone 6 */
  body{
    font-size: 12px;
  }

  .navbar-brand{
    font-size: 16px;
  }

  .navbar-toggle{
    transform: scale(0.7);
  }

 
  .menu-font-style1{
    color: white;
    /* font-size: 19px; */
  }
    .navbar-header button{
    display: none;
  }
}
