header{
  height: 100%;
  background-image: url(../img/banner_picture.jpg);
  background-size: cover;
  background-position: top left;
  position: relative;
}

.language{
  top: 8%;
  left: 1%;
  position: absolute;
  z-index: 11;
}

.language-img{
  width: 30px;
  height: auto;
  z-index: 11;
}

.menu-style{
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  border:0;
  border-radius: 0;
}

.menu-style2{
  background-image: url(../img/pattern6.png);
  background-color:#050505;
  z-index: 99;
}

.artist-name1{
  font-family: 'Primer-Bold';
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.menu-font-style1{
  font-family: 'Play', sans-serif;
  font-weight: bold;
  color: white;
}

.menu-container{
  display: flex;
  justify-content: space-between;
}

.banner {
  color: white;
  font-weight: bold;
  text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50% 25% 25%;
  height: 100%;
}

.welcome{ /*slogan banner*/
  color: rgb(232,101,12);;
  font-weight: bold;
  padding-bottom: 15px;
  font-family: 'Primer-Bold';
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
}

.quote-frase{/*quote do slogan banner*/
  color: white;
  font-style: italic;
  font-weight: bold;
  padding-top: 20px;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;

}

/* ALTER THE STYLE FROM THE QUOTES AUTHOR - BANNER*/
.quote-author{/*quote do slogan banner*/
  color: white;
  padding-bottom: 40px;

}

.lista-social-midias{
  padding-left: 0;
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: start;
}

.lista-social-midias li{
  display: inline;
  padding: 18px;
}

.logo-welcome{
  width: 130px;
  height: 130px;
}

.logo{
  width: 45px;
  height: 45px;
}

.navbar-brand{
  padding: 0;
}

/*mudando as cores do logo das midias socias*/
.fa-facebook, .fa-instagram, .fa-behance{
  text-decoration: none;
  color: white;
}

/*change the style when the mouse is over*/
.artist-name1:hover, .menu-font-style1:hover {
  text-decoration: none;
  color: rgb(232,101,12);
}

/*change the style when the mouse is over*/
.artist-name2:hover, .menu-font-style2:hover{
  /* color: black; */
  text-decoration: none;
  color: rgb(232,101,12);
}


.fa:hover{
  text-decoration: none;
  color: rgb(232,101,12);
}

@media screen and (min-width: 1024px){
  body{
    font-size: 15px; 
  }
  .navbar-brand{

  }
  .artist-name1{
    font-size: 28px;
  }
  .menu-font-style1{
    font-size: 18px; 
  }

  .welcome{ /*slogan banner*/
     font-size: 60px; 
  }
  .logo-welcome{
    width: 150px;
    height: 150px;
  }
  .quote-frase, .quote-author{/*quote do slogan banner*/

   font-size: 22px; 

  }
  .lista-social-midias{

    font-size: 24px;
  }



}

@media screen and (max-width: 1024px) and (min-width: 768px){ /*768 iPda width*/
  body{
    font-size: 14px; /*14px default */
  }
  .navbar-brand{
    font-size: 30px;
  }

  .artist-name1{
     font-size: 23px; 
  }
  .menu-font-style1{
     font-size: 16px; 
  }

  .welcome{ /*slogan banner*/
    font-size: 50px;

  }
  .logo-welcome{
    width: 130px;
    height: 130px;
  }  
  .quote-frase, .quote-author{/*quote do slogan banner*/

     font-size: 18px; 

  }
  .lista-social-midias li{

    font-size: 25px;
  }


}

@media screen and (max-width: 767px) and (min-width: 551px){ /*768 iPda width*/
  body{
    font-size: 13px; 
  }
  .navbar-brand{
    font-size: 25px;
  }

  .artist-name1{

    padding-right: 30px;
  }
  .menu-font-style1{
    color: white;
  }

  .welcome{ /*slogan banner*/

		font-size: 40px;

  }
  .logo-welcome{
    width: 100px;
    height: 100px;
  }  
  .quote-frase, .quote-author{/*quote do slogan banner*/
    font-size: 16px; 
  }
  .lista-social-midias li{

    font-size: 22px;
  }


}


@media screen and (max-width: 550px) and (min-width: 0px){
  .banner {
    grid-template-rows: 40% 30% 30%;
  } 
  .navbar-brand{
    font-size: 20px;
  }
  .navbar-toggle{
    transform: scale(0.6);
  }
  .menu-style{
    padding: 0;
  }

  .artist-name1{
    padding-right: 30px;
  }
  .menu-font-style1{
    color: white;
    font-size: 12px;
  }
  .welcome{ /*slogan banner*/
    font-size: 40px;

  }
  .logo-welcome{
    width: 80px;
    height: 80px;
  }    
  .quote-frase, .quote-author{/*quote do slogan banner*/
	 font-size: 16px; 

  }

  .lista-social-midias li{

    font-size: 18px; 
    /*padding: 5px;*/
  }
  .language-img{
    width: 25px;

  }
  .logo{
    width: 30px;
    height: 30px;
  }

  .language{

    left: 90%;

  }
  .menu-container{
    justify-content: center;
    /*align-items: center;*/
    padding: 10px 20px;
  }
}
