/*orange color - rgb(232,101,12);*/
/* gray - rgb(212, 223, 225); */
/*
  768 iPda width
  iphone x - 350px*/

html, body{
  font-family: 'Play', "Times New Roman", Times, sans-serif;
  width: 100%;
  height: 100%;
   -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header{
  width: 100%;
  height :auto;
}

body{
  font-family: 'Play', "Times New Roman", Times, sans-serif;
  background-image: url(../img/pattern4.png);
  background-color: #ffffff
}


h2, h3, h4{
  color:rgb(232,101,12);
  font-weight: bold;
  
}

h2{
  font-size: 40px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 25px;
}


@font-face {
  font-family: Dysentery;
  src: url("../fonts/dysentery/dysentery.ttf") format("opentype") ;
}


@font-face {
  font-family: Primer;
  src: url("../fonts/primer/primer.ttf") format("opentype") ;
}

@font-face {
  font-family: Primer-Bold;
  src: url("../fonts/primer/primer-bold.ttf") format("opentype") ;
}