.sub-menu{
  margin-top:40px;
  text-align: left;
  font-family: 'Play', sans-serif;
  font-weight: bold;
}

.sub-menu-art{
  margin-top: 0px;
  margin-bottom: 30px;
}

.p-sub-menu{
  font-weight:bold;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1024px){
  .sub-menu h2{
    font-size: 35px;
  }

  .p-sub-menu{
    font-size: 28px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  .sub-menu h2{
    font-size: 35px;
  }

  .p-sub-menu{
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) and (min-width: 551px){ 
  .sub-menu h2{
    font-size: 28px;
  }

  .p-sub-menu{
    font-size: 24px;
  }
}
@media screen and (max-width: 550px) and (min-width: 375px){
  .sub-menu h2{
    font-size: 26px;
  }

  .p-sub-menu{
    font-size: 20px;
  }
}

@media screen and (max-width: 374px) {
  .sub-menu h2{
    font-size: 22px;
  }

  .p-sub-menu{
    font-size: 18px;
  }
}


#portfolio{
  position: relative;
  padding-bottom: 50px;
}


#clients{
  background-image: url(../img/pattern6.png);
  background-color:#050505;
}

#sub-menu-clients{
  color: white;

}

#sub-menu-partners{
  color: white;
}

.web-designed{
  margin: 5px;
  text-align: center;
}

footer{
  padding: 20px;
  background-image: url(../img/pattern6.png);
  background-color:#050505;
  color: white ;
}

footer address: last-child{
  margin-bottom: 0;
}
